<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> smit's crud</h1>
    <form  action="/insert" method="post">
        <input type="text"  placeholder="enter name" name="name">
        <input type="text" placeholder="Enter sub" name="sub">
        <button type="submit">add</button>
    </form>
    <table border="1"  width="50%" >
        <thead>
            <th>id</th>
            <th>name</th>
            <th>sub</th>
            <th>action</th>
        </thead>
        <tbody>
            <% data.map((el)=>{ %>
                   <tr>
                    <td><%= el.id%></td>
                    <td><%= el.name%></td>
                    <td><%= el.sub%></td>
                    <td>
                        <a href="/edit?Id=<%=el.id%>"><button>Edit</button></a>
                        <a href="/delete?Id=<%=el.id%>">
                            <button >Delete</button>
                        </a>
                    </td>
                   </tr>
         <%   }) %>

        </tbody>
    </table>
</body>
</html>