<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud application</title>
</head>
<body>
    <h1>welcom to crud</h1>
    <form action="/insert" method="post">
        <input type="text" placeholder="enter name" name="name">
        <input type="text" placeholder="enter sub" name="sub">
        <input type="text" placeholder="enter city" name="city">
        <button type="submit">add</button>
    </form>
    <table border="1" width="60%">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>sub</th>
                <th>city</th> 
                <th>action</th>
            </tr>
        </thead>
        <tbody>
          
          <% data.map((el)=>{ %>
             <tr>
                <td><%= el.id%></td>
                <td><%= el.name%></td>
                <td><%= el.sub%></td>
                <td><%= el.city%></td>
                <td>
                <a href=""><button>add</button></a>    
                <a href="/delete?Id=<%=el.id%>"> <button >DELETE</button></a>   
                </td>
             </tr>
        <%  }) %>
                
        </tbody>
    </table>
</body>
</html>